* {
    box-sizing: border-box;
    
}

body {
    margin: 0px;
    background: url(Inside_the_Library_2.png)no-repeat ;
    background-position: cover;
    
}

main {
    margin: 22px;
}

h1 {
    text-align: center;
}

.meleg ul {
    list-style-type: none;
    background-color: lab(46.9% 15.12 49.08 / 0.686);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: 2px solid #FDDC5C;
    border-radius: 10px;
}



.meleg a {
    color: black;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    font-size: 1.5em;
    
}


.meleg a:hover {
    background-color:  #fddd5ca2;
} 

.meleg li {
    float: left;
}

.frame {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
}

.Rodya {
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: lab(46.9% 15.12 49.08 / 0.158);
    font-size: 1.5em;
    margin: auto;
    width: 1250px;                /* adjust as needed */               /* adjust as needed */
    padding: 10px;               /* inner spacing */
    border: 50px solid transparent;
    border-image-source: url("1000\(1\).png");
    border-image-slice: 150;     /* adjust based on image */
    border-image-width: 40px;
    border-image-outset: 0;
    border-image-repeat: round; /* try round or repeat if desired */
    box-sizing: border-box;
    
}



.Rodya p {
    color: #000000;
    
}

.Rodya h2 {
    color: #fff6a3;
}

#angela {
    float: left;
    margin-top: 10px;
    margin-right: 10px;
}

.barbawah ul {
    list-style-type: none;
    background-color: lab(46.9% 15.12 49.08 / 0.686);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    border: 2px solid #FDDC5C;
    border-radius: 10px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
}




.barbawah button {
    background-color: lab(46.9% 15.12 49.08 / 0.329);
    border: none;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    font-size: 1.5em;

}

.barbawah button:hover {
    background-color:  #fddd5ca2;
} 

.barbawah li {
    float: right;
}

@media (max-width:600px) {
    .Rodya{
    width: auto;
    height: auto;
    border: 50px solid transparent;
    border-image-source: url("1000\(1\).png");
    border-image-slice: 150;     /* adjust based on image */
    border-image-width: 40px;
    border-image-outset: 0;
    border-image-repeat: round; /* try round or repeat if desired */
    box-sizing: border-box;
}

.meleg a {
    color: black;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    font-size: .9em;
    
}

.barbawah a{
    font-size: .9em;
}


}

.meleg ul .menu .dropdown li{
    display: block;
}

.meleg ul .menu .dropdown{
    width: 20%;
    position: absolute;
    z-index: 999;
    display: none;
}

.meleg ul .menu:hover ul.dropdown{
    display: block;
}

.meleg ul .menu .dropdown li{
    float: none;
}

.meleg ul .menu .wa a{
    color: rgb(0, 255, 0);
    font-weight: 500;
}
.meleg ul .menu .telepon a{
    color: rgb(0, 96, 126);
    font-weight: 500;
}
.meleg ul .menu .ig a{
    color: rgb(255, 14, 163);
    font-weight: 500;
}
