@import url("https://fonts.googleapis.com/css2?familyPoppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    background: url(wallhaven-jx291m_1760x990.png)no-repeat;
    background-size: cover   
}

.wrapper {
    width: 420px;
    background-color: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 23px 20px;
    border: 2px solid rgba(255, 255, 255, 0.404);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.wrapper h1 {
    font-size: 35px;
    text-align: center;
    margin-top: 15px;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 43px;
    margin: 20px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.404);
    border-radius: 40px  ;
    font-size: 16px;
    padding: 20px 50px 20px 20px;
    color: #fff;
}

.input-box input::placeholder {
    color: #fff
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    margin-bottom: 20px;
    margin-top: 20px;
}